.profile-photo{
  border-radius: 50%;
  width:275px;
}

.social-media{
  padding: 20px 30px;
  width:100%;
}

.desc{
  font-weight: 500;
  text-justify: inter-word;
  text-align: justify;
}

.bio-text{
  font-size:14px;
  font-weight: 500;
  padding: 0px 20px;
    text-justify: inter-word;
  text-align: justify;
}

.social-media a{
  color:#888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

.social-media a:hover{
    transform: translateY(-3px);
}

#linkedin:hover{
color:#0e76a8
}

#apple:hover{
color: #37b0ef;

}

#google:hover{
color:#176bef
}

.title{
  font-weight: 700;
  font-size: larger;
}
a span{
  color:black;
}