.title{
  font-weight: 700;
  font-size: larger;
}
a span{
  color:black;
}

.profile-photo{
  border-radius: 50%;
  width:275px;
}

.social-media{
  padding: 20px 30px;
  width:100%;
}

.desc{
  font-weight: 500;
  text-justify: inter-word;
  text-align: justify;
}

.bio-text{
  font-size:14px;
  font-weight: 500;
  padding: 0px 20px;
    text-justify: inter-word;
  text-align: justify;
}

.social-media a{
  color:#555;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 2px
}

/** Buttons animation **/
.social-media a:hover{
    transform: translateY(-3px);
}

#linkedin:hover{
color:#0e76a8
}

#github:hover{
color:#000
}

#apple:hover{
color: #37b0ef;

}

#google:hover{
color:#176bef;
 animation-name: google-colors;
  animation-duration: 4s;
}

@keyframes google-colors {
   0%  {color: #DB4437;}
  25%  {color: #F4B400;}
  50%  {color: #0F9D58;}
  100% {color: #176bef;}
}
