<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card">

    <div fxLayout="column" fxLayoutAlign="space-between">
      <a href="{{this.user.url}}" target="_blank" title="Go to LinkedIn Git Hub profile">
        <img class="profile-photo" src="{{ this.user.photo }}" />
      </a>

      <span class="bio-text" fxFlexAlign="center">"{{ user.bio }}"</span>

    </div>

    <div fxLayout="column" fxLayoutAlign="space-between" class="card-text">
      <h1>{{ user.name }}</h1>
      <a href="{{this.user.url}}" target="_blank" title="Go to LinkedIn Git Hub profile">
        <span>@{{ user.login }}</span>
      </a>
      <span class="desc" fxLayout="row">
        I`m a back-end developer, but I use to study front-end technologies in
        my free time. I've been working with node.js and .NET core.

        Recently I've made an React Native app, and now I'm studying
        Flutter.
        This web page is done in Angular and is fed by Git Hub API.
      </span>

      <div fxLayout="row" fxLayoutAlign="space-between" class="social-media">
        <a target="_blank" href="https://www.linkedin.com/in/lucca-nogueira-1b58a3103/">
          <fa-icon [icon]="linkedin" size="3x"></fa-icon>
        </a>
        <a target="_blank" href="https://apps.apple.com/br/developer/lucca-lima/id1539580606">
          <fa-icon [icon]="apple" size="3x"></fa-icon>
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/developer?id=Lucca+Nogueira">
          <fa-icon [icon]="google" size="3x"></fa-icon>
        </a>
        <!-- TAMANHOS: fa-xs fa-sm fa-lg fa-2x fa-3x fa-5x fa-7x fa-10x -->
      </div>
    </div>
  </div>

  <!-- Resources -->
  <h2>Projects</h2>
  <p>Here are some of my open source projects:</p>

  <div class="card-container">

    <!-- url: string;
    name: string;
    language:string;
    description:string;
    createdAt:string; -->

    <a *ngFor="let repo of repos"  fxLayoutAlign="space-between center"  class="card" target="_blank" rel="noopener" href="{{repo.url}}">
      <fa-icon [icon]="github" size="lg" color='black'></fa-icon>

      <div class="principal" fxLayout="column">
        <span class="title">{{repo.name}}</span>
        <span><i>{{repo.description}}</i></span>
        <span>{{repo.language}}</span>
        <span>{{repo.createdAt}}</span>
      </div>

      <fa-icon [icon]="right" size="lg"></fa-icon>
    </a>


  </div>


  <!-- Footer -->
  <footer>
    Lucca Nogueira - Jan 2021
  </footer>

 
</div>

<router-outlet></router-outlet>